In [1]:
import pandas as pd

from sklearn.linear_model import RidgeCV
from sklearn

In [5]:
df_data = pd.read_csv("../data_preprocessed/df_data.csv")
df_data

,start,end,capacity,line,latest_res_dt,lat_from,lon_from,lat_to,lon_to,book_in_advance,day_of_week,week,year
0,2021-03-21 06:34:30,2021-03-21 07:28:00,15.0,IC 3,2021-03-21 06:34:30,47.378177,8.540212,47.547412,7.589563,0.0,6,11,2021
1,2021-03-26 06:34:30,2021-03-26 07:28:00,9.0,IC 3,2021-03-26 06:34:30,47.378177,8.540212,47.547412,7.589563,0.0,4,12,2021
2,2021-05-01 06:34:30,2021-05-01 07:28:00,9.0,IC 3,2021-05-01 06:34:30,47.378177,8.540212,47.547412,7.589563,0.0,5,17,2021
3,2021-05-08 06:34:30,2021-05-08 07:28:00,9.0,IC 3,2021-05-08 06:34:30,47.378177,8.540212,47.547412,7.589563,0.0,5,18,2021
4,2021-05-30 06:34:30,2021-05-30 07:28:00,13.0,IC 3,2021-05-30 06:34:30,47.378177,8.540212,47.547412,7.589563,0.0,6,21,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115769,2021-06-11 05:30:30,2021-06-11 05:40:30,12.0,IC 6/61,2021-06-11 05:30:30,46.754853,7.629606,46.873354,7.559442,0.0,4,23,2021
115770,2021-08-20 05:55:48,2021-08-20 06:11:42,15.0,IC 8,2021-08-20 05:55:48,46.294029,7.881465,46.588908,7.651418,0.0,4,33,2021
115771,2021-08-21 05:55:48,2021-08-21 06:14:12,9.0,IC 8,2021-08-21 05:55:48,46.294029,7.881465,46.588908,7.651418,0.0,5,33,2021
115772,2021-09-03 05:55:48,2021-09-03 06:11:42,9.0,IC 8,2021-09-03 05:55:48,46.294029,7.881465,46.588908,7.651418,0.0,4,35,2021
115773,2021-10-08 05:55:48,2021-10-08 06:11:42,17.0,IC 8,2021-10-08 05:55:48,46.294029,7.881465,46.588908,7.651418,0.0,4,40,2021