# Data enrichment

### <u>Content:<u>

[1) Load data sets

[2) Add week day and month to reservation data
    
[3) Estimate part of the Swiss population that is on holiday for any given date
    
[4) Add coordinates for start and destination 

[5) Get weather data
    
[6) Get capacity data for trains in 2020 according to the expected train formation

In [93]:
#Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
import seaborn as sns
import scipy
from scipy.spatial.distance import cdist
import dateutil
rcParams['figure.figsize']=10,8

#### 1) Load data (#load_data)

In [99]:
#read the reservation data 
df = pd.read_csv('data_raw/reservation_data_2019-2021_incl_capacity.csv', 
                 parse_dates=["date"], date_parser=lambda x: pd.to_datetime(x, format="%Y-%m-%d %H:%M:%S"))         
        
print('reservations: ')
display(df.tail(1))

# read the holiday data, include a date range column
df_schulferien = pd.read_csv('data_preprocessed/Schulferien.csv', dtype={"canton": "string", "population": "int32"})
df_schulferien['start'] = pd.to_datetime(df_schulferien['holidays_start'])
df_schulferien['end'] = pd.to_datetime(df_schulferien['holidays_end'])
df_schulferien = df_schulferien.drop(columns=["holidays_start", "holidays_end"])

print('schulferien: ')
display(df_schulferien.tail(1))

# train station coordinates data
df_coordinates = pd.read_csv('data_preprocessed/dienststellen.csv')
df_coordinates = df_coordinates[["abk_bahnhof", "lat", "lon"]]
df_coordinates = df_coordinates[df_coordinates['abk_bahnhof'].notna()]
display(df_coordinates.tail(1))

# weather data
df_weather = pd.read_csv("data_preprocessed/weather.csv")
#                        parse_dates=["validdate"], date_parser=lambda x: pd.to_datetime(x, format="%Y-%m-%d%T%H:%M:%S%Z"))         

#df_weather['date'] = df_weather['validdate'].apply(dateutil.parser.parse)
display(df_weather.tail(1))

# jahresformation
df_jahresformation = pd.read_csv("data_preprocessed/jahresformation.csv", dtype={"Block Bezeichnung": "string"})
display(df_jahresformation.tail(1))
df_jahresformation.dtypes

# kapazität
df_kapazität = pd.read_csv("data_preprocessed/rollmaterial-matching.csv")
display(df_kapazität.tail(1))

reservations:

,Unnamed: 0,res_id,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,dep_ist,dep_soll,arr_ist,arr_soll,res_delta_ist,res_delta_soll,res_delta_valid
226735,226735,246187,2021-10-31 17:16:00,2021-10-31,1635,IC 51,1,6.0,BI,DMT,2021-10-31 19:49:00,2021-10-31 19:49:00,2021-10-31 20:17:00,2021-10-31 20:18:00,9216.0,9210,True

schulferien:

       canton  population      start        end
161  national     7917100 2022-12-25 2022-12-26

C:\Users\tabea\miniconda3\envs\geo_env\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

      abk_bahnhof        lat       lon
47113        BRIA  47.260083  7.942674

,station_id,validdate,leisure_biking:idx,snow_depth:cm,t_2m:C,precip_24h:mm,weather_symbol_1h:idx,effective_cloud_cover:octas
4745,station_id,validdate,leisure_biking:idx,snow_depth:cm,t_2m:C,precip_24h:mm,weather_symbol_1h:idx,effective_cloud_cover:octas

C:\Users\tabea\miniconda3\envs\geo_env\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (24,25,26,27,28,29,30,31,32,34) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Zug,ZNS,VP,Debicode,Zugart,Suf.,Traktion,Bhf von,Ländercode UIC,von,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
177418,96765,4,-162,1604,S,NaN,NaN,RUS,85,21:42:12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

   Block Bezeichnung in Jahresformation Fpl-2022  No. of hooks
36          Re460 AS4 A4(LBT) Bpm61 3B4(LBT) Bt4            10

#### 2) Week day <a name="stat"></a>

- Add a feature for weekday: 'weekday' and 'month'

In [4]:
df['weekday'] = df['date'].dt.dayofweek
df['month'] = df['date'].dt.month

#### 3) Holidays <a name="stat"></a>
- Add a feature for number of people in holiday canton: n_holiday

In [8]:
# for each date, get the number of people in Switzerland who 
# are either on school holiday or national holiday..
def get_holiday_people(date):
    filtered_holidays = df_schulferien[(df_schulferien['start']<=date)&(df_schulferien['end']>=date)]
    is_national_holiday = (filtered_holidays["canton"]=="national").sum()
    if is_national_holiday:
        people = 7917100
    elif not(filtered_holidays.empty):
        filtered_holidays = filtered_holidays[filtered_holidays["canton"]!="national"]
        people = sum(filtered_holidays["population"])
    else: people=0
    return people

In [10]:
# filter df, only 2021 data
df=df[df['date']>='2021-01-01']
df['holiday_people'] = df.apply(lambda row : get_holiday_people(row['date']), axis = 1)

#### 4) Coordinates <a name="hr"></a>

In [15]:
# full join for start train station 
df = pd.merge(df, df_coordinates, left_on='bp_from', right_on='abk_bahnhof')
df = df.drop(columns=['abk_bahnhof']).rename(columns={"lat": "lat_from", "lon": "lon_from"})

# full join for destination
df = pd.merge(df, df_coordinates, left_on='bp_to', right_on='abk_bahnhof')
df = df.drop(columns=['abk_bahnhof']).rename(columns={"lat": "lat_to", "lon": "lon_to"})
display(df.head())

,Unnamed: 0,res_id,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,...,res_delta_ist,res_delta_soll,res_delta_valid,weekday,month,holiday_people,lat_from,lon_from,lat_to,lon_to
0,76737,83783,21/03/2021 00:00,2021-03-21,333,IC 6/61,1,NaN,BS,BN,...,26931.0,26922,False,6,3,0,47.547412,7.589563,46.948832,7.439131
1,76974,84080,21/03/2021 00:00,2021-03-21,979,IC 6/61,2,12.0,BS,BN,...,61117.0,61110,False,6,3,0,47.547412,7.589563,46.948832,7.439131
2,76975,84081,21/03/2021 00:00,2021-03-21,979,IC 6/61,1,12.0,BS,BN,...,61117.0,61110,False,6,3,0,47.547412,7.589563,46.948832,7.439131
3,76992,84098,21/03/2021 00:00,2021-03-21,1067,IC 6/61,1,12.0,BS,BN,...,37764.0,37710,False,6,3,0,47.547412,7.589563,46.948832,7.439131
4,77008,84115,15/03/2021 00:00,2021-03-21,1085,IC 6/61,1,12.0,BS,BN,...,588537.0,588510,False,6,3,0,47.547412,7.589563,46.948832,7.439131

#### 5) Weather <a name="corr"></a>

#### 6) Capacity <a name="corr"></a>

 - Für jede Reservation: Zugnummer im Jahresformation-Datensatz abrufen
 - Beachte: richtiges Jahr wählen, häufigste Formation
 - entsprechende Kapazität auslesen

In [96]:
list_kapazitäten=df_kapazität["Block Bezeichnung in Jahresformation Fpl-2022"].tolist()
df_jahresformation = df_jahresformation[df_jahresformation["Block Bezeichnung"].isin(list_kapazitäten)]
df_jahresformation=df_jahresformation[["Block Bezeichnung", "Zug", "Beginn Fahrplanperiode"]]

In [98]:
df_jahresformation = pd.merge(df_jahresformation, df_kapazität, left_on='Block Bezeichnung', right_on='Block Bezeichnung in Jahresformation Fpl-2022').drop(columns=["Block Bezeichnung in Jahresformation Fpl-2022"])
df_jahresformation.tail(2)

,Block Bezeichnung,Zug,Beginn Fahrplanperiode,No. of hooks_x,No. of hooks_y
31704,Re460 A4(hp)2Apm Bpm 2B4 2B4(78) Bt4 GBT,2682,Fpl-2022,16,16
31705,Re460 A4(hp)2Apm Bpm 2B4 2B4(78) Bt4 GBT,2567,NaN,16,16

In [113]:
median_df=df[df["capacity"].notnull()]
median=np.median(df1['capacity'])

In [ ]:
def fill_capacity(row):
    if row["capacity"].isnull():
        train=row["train_nr"]
        formation = df_jahresformation[df_jahresformation["Zug"]==train]
        capacity=formation["capacity"]
    else: capacity = median
return capacity

In [127]:
row = df.iloc[9]
train=row["train_nr"]
formation = df_jahresformation[df_jahresformation["Zug"]==train]
print(formation.first)

capacity=formation["capacity"]

528
<bound method NDFrame.first of         Zug  ZNS    VP  Debicode Zugart Suf. Traktion Bhf von  Ländercode UIC  \
8866    528    4    15      1102     IC  NaN      NaN     ZUE              85
8868    528    4    15      1102     IC  NaN      NaN     ZUE              85
8870    528    4    67      1102     IC  NaN      NaN     ZUE              85
12836   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
12838   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
20281   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
20283   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
20285   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
20287   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
24529   528    4    15      1102     IC  NaN      NaN     ZUE              85
24531   528    4    67      1102     IC  NaN      NaN     ZUE              85
31260   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
31261   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
31262   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
47467   528    4 -1544      1102     IC  NaN      NaN      SG              85
47470   528    4 -1543      1102     IC  NaN      NaN      SG              85
47473   528    4 -1543      1102     IC  NaN      NaN      SG              85
54668   528    4    15      1102     IC  NaN      NaN     ZUE              85
54671   528    4    15      1102     IC  NaN      NaN     ZUE              85
60791   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
60794   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
60797   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
60800   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
60803   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
60806   528    4 -2282      1102     IC  NaN      NaN     ZUE              85
68518   528    4 -1544      1102     IC  NaN      NaN      SG              85
68521   528    4 -1544      1102     IC  NaN      NaN      SG              85
68524   528    4 -1543      1102     IC  NaN      NaN      SG              85
68527   528    4 -1543      1102     IC  NaN      NaN      SG              85
84493   528    4 -1544      1102     IC  NaN      NaN      SG              85
84494   528    4 -1544      1102     IC  NaN      NaN      SG              85
84495   528    4 -1543      1102     IC  NaN      NaN      SG              85
88503   528    4    67      1102     IC  NaN      NaN     ZUE              85
90394   528    4 -2294      1102     IC  NaN      NaN     ZUE              85
92897   528    4 -1544      1102     IC  NaN      NaN      SG              85
92899   528    4 -1543      1102     IC  NaN      NaN      SG              85
92901   528    4 -1543      1102     IC  NaN      NaN      SG              85
113107  528    4 -1544      1102     IC  NaN      NaN      SG              85
113108  528    4 -1544      1102     IC  NaN      NaN      SG              85
113109  528    4 -1544      1102     IC  NaN      NaN      SG              85
113110  528    4 -1543      1102     IC  NaN      NaN      SG              85
113111  528    4 -1543      1102     IC  NaN      NaN      SG              85
124060  528    4    17      1102     IC  NaN      NaN      RS              85
124061  528    4    17      1102     IC  NaN      NaN      RS              85
124062  528    4    17      1102     IC  NaN      NaN      RS              85
135632  528    4    17      1102     IC  NaN      NaN      RS              85
140431  528    4    17      1102     IC  NaN      NaN      RS              85
140433  528    4    17      1102     IC  NaN      NaN      RS              85
157296  528    4    17      1102     IC  NaN      NaN      RS              85
157299  528    4    17      1102     IC  NaN      NaN      RS              85
167031  528    4    17      1102     IC  NaN      NaN      RS              85
167032  528    4    17      1102     IC  NaN      NaN      RS              85
167033  528    4    17      1102     IC  NaN      NaN      RS              85

             von  ... Unnamed: 25  Unnamed: 26 Unnamed: 27 Unnamed: 28  \
8866    16:03:54  ...         NaN          NaN         NaN         NaN
8868    16:03:54  ...         NaN          NaN         NaN         NaN
8870    16:03:54  ...         NaN          NaN         NaN         NaN
12836   16:03:54  ...         NaN          NaN         NaN         NaN
12838   16:03:54  ...         NaN          NaN         NaN         NaN
20281   16:03:54  ...         NaN          NaN         NaN         NaN
20283   16:03:54  ...         NaN          NaN         NaN         NaN
20285   16:03:54  ...         NaN          NaN         NaN         NaN
20287   16:03:54  ...         NaN          NaN         NaN         NaN
24529   16:03:54  ...         NaN          NaN         NaN         NaN
24531   16:03:54  ...         NaN          NaN         NaN         NaN
31260   16:03:54  ...         NaN          NaN         NaN         NaN
31261   16:03:54  ...         NaN          NaN         NaN         NaN
31262   16:03:54  ...         NaN          NaN         NaN         NaN
47467   14:58:30  ...         NaN          NaN         NaN         NaN
47470   14:58:30  ...         NaN          NaN         NaN         NaN
47473   14:58:30  ...         NaN          NaN         NaN         NaN
54668   16:03:54  ...         NaN          NaN         NaN         NaN
54671   16:03:54  ...         NaN          NaN         NaN         NaN
60791   16:03:54  ...         NaN          NaN         NaN         NaN
60794   16:03:54  ...         NaN          NaN         NaN         NaN
60797   16:03:54  ...         NaN          NaN         NaN         NaN
60800   16:03:54  ...         NaN          NaN         NaN         NaN
60803   16:03:54  ...         NaN          NaN         NaN         NaN
60806   16:03:54  ...         NaN          NaN         NaN         NaN
68518   14:58:30  ...         NaN          NaN         NaN         NaN
68521   14:58:30  ...         NaN          NaN         NaN         NaN
68524   14:58:30  ...         NaN          NaN         NaN         NaN
68527   14:58:30  ...         NaN          NaN         NaN         NaN
84493   14:58:30  ...         NaN          NaN         NaN         NaN
84494   14:58:30  ...         NaN          NaN         NaN         NaN
84495   14:58:30  ...         NaN          NaN         NaN         NaN
88503   16:03:54  ...         NaN          NaN         NaN         NaN
90394   16:03:54  ...         NaN          NaN         NaN         NaN
92897   14:58:30  ...         NaN          NaN         NaN         NaN
92899   14:58:30  ...         NaN          NaN         NaN         NaN
92901   14:58:30  ...         NaN          NaN         NaN         NaN
113107  14:58:30  ...         NaN          NaN         NaN         NaN
113108  14:58:30  ...         NaN          NaN         NaN         NaN
113109  14:58:30  ...         NaN          NaN         NaN         NaN
113110  14:58:30  ...         NaN          NaN         NaN         NaN
113111  14:58:30  ...         NaN          NaN         NaN         NaN
124060  14:39:30  ...         NaN          NaN         NaN         NaN
124061  14:39:30  ...         NaN          NaN         NaN         NaN
124062  14:39:30  ...         NaN          NaN         NaN         NaN
135632  14:39:30  ...         NaN          NaN         NaN         NaN
140431  14:39:30  ...         NaN          NaN         NaN         NaN
140433  14:39:30  ...         NaN          NaN         NaN         NaN
157296  14:39:30  ...         NaN          NaN         NaN         NaN
157299  14:39:30  ...         NaN          NaN         NaN         NaN
167031  14:39:30  ...         NaN          NaN         NaN         NaN
167032  14:39:30  ...         NaN          NaN         NaN         NaN
167033  14:39:30  ...         NaN          NaN         NaN         NaN

       Unnamed: 29 Unnamed: 30  Unnamed: 31  Unnamed: 32  Unnamed: 33  \
8866           NaN         NaN          NaN          NaN          NaN
8868           NaN         NaN          NaN          NaN          NaN
8870           NaN         NaN          NaN          NaN          NaN
12836          NaN         NaN          NaN          NaN          NaN
12838          NaN         NaN          NaN          NaN          NaN
20281          NaN         NaN          NaN          NaN          NaN
20283          NaN         NaN          NaN          NaN          NaN
20285          NaN         NaN          NaN          NaN          NaN
20287          NaN         NaN          NaN          NaN          NaN
24529          NaN         NaN          NaN          NaN          NaN
24531          NaN         NaN          NaN          NaN          NaN
31260          NaN         NaN          NaN          NaN          NaN
31261          NaN         NaN          NaN          NaN          NaN
31262          NaN         NaN          NaN          NaN          NaN
47467          NaN         NaN          NaN          NaN          NaN
47470          NaN         NaN          NaN          NaN          NaN
47473          NaN         NaN          NaN          NaN          NaN
54668          NaN         NaN          NaN          NaN          NaN
54671          NaN         NaN          NaN          NaN          NaN
60791          NaN         NaN          NaN          NaN          NaN
60794          NaN         NaN          NaN          NaN          NaN
60797          NaN         NaN          NaN          NaN          NaN
60800          NaN         NaN          NaN          NaN          NaN
60803          NaN         NaN          NaN          NaN          NaN
60806          NaN         NaN          NaN          NaN          NaN
68518          NaN         NaN          NaN          NaN          NaN
68521          NaN         NaN          NaN          NaN          NaN
68524          NaN         NaN          NaN          NaN          NaN
68527          NaN         NaN          NaN          NaN          NaN
84493          NaN         NaN          NaN          NaN          NaN
84494          NaN         NaN          NaN          NaN          NaN
84495          NaN         NaN          NaN          NaN          NaN
88503          NaN         NaN          NaN          NaN          NaN
90394          NaN         NaN          NaN          NaN          NaN
92897          NaN         NaN          NaN          NaN          NaN
92899          NaN         NaN          NaN          NaN          NaN
92901          NaN         NaN          NaN          NaN          NaN
113107         NaN         NaN          NaN          NaN          NaN
113108         NaN         NaN          NaN          NaN          NaN
113109         NaN         NaN          NaN          NaN          NaN
113110         NaN         NaN          NaN          NaN          NaN
113111         NaN         NaN          NaN          NaN          NaN
124060         NaN         NaN          NaN          NaN          NaN
124061         NaN         NaN          NaN          NaN          NaN
124062         NaN         NaN          NaN          NaN          NaN
135632         NaN         NaN          NaN          NaN          NaN
140431         NaN         NaN          NaN          NaN          NaN
140433         NaN         NaN          NaN          NaN          NaN
157296         NaN         NaN          NaN          NaN          NaN
157299         NaN         NaN          NaN          NaN          NaN
167031         NaN         NaN          NaN          NaN          NaN
167032         NaN         NaN          NaN          NaN          NaN
167033         NaN         NaN          NaN          NaN          NaN

       Unnamed: 34
8866           NaN
8868           NaN
8870           NaN
12836          NaN
12838          NaN
20281          NaN
20283          NaN
20285          NaN
20287          NaN
24529          NaN
24531          NaN
31260          NaN
31261          NaN
31262          NaN
47467          NaN
47470          NaN
47473          NaN
54668          NaN
54671          NaN
60791          NaN
60794          NaN
60797          NaN
60800          NaN
60803          NaN
60806          NaN
68518          NaN
68521          NaN
68524          NaN
68527          NaN
84493          NaN
84494          NaN
84495          NaN
88503          NaN
90394          NaN
92897          NaN
92899          NaN
92901          NaN
113107         NaN
113108         NaN
113109         NaN
113110         NaN
113111         NaN
124060         NaN
124061         NaN
124062         NaN
135632         NaN
140431         NaN
140433         NaN
157296         NaN
157299         NaN
167031         NaN
167032         NaN
167033         NaN

[53 rows x 35 columns]>

KeyError: 'capacity'